<!DOCTYPE html>
<html>
  <head>
    <title>TechTalentBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>
        <p style="float:right;padding-top: 7px;">Welcome <%= current_user.email %></p><br><br>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger", style: "color: white; font-family: georgia; float:right" %>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
